name: continuous integration

env:
  JAVA_OPTS: "-Dsbt.log.noformat=true"
  TRAVIS: "true" # pretend we're TravisCI

defaults:
  run:
    shell: bash
on:
  push:
    branches:
      - develop
      - release
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        scala: [2.11.12, 2.12.8, 2.13.1]
        java: ['1.8', '1.11']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: echo java version
        run: java -Xmx32m -version
      - name: echo javac version
        run: javac -J-Xmx32m -version
      - name: test
        run: ${{ format('./bin/build --no-test --dry-run --scala-version {0} --all', matrix.scala) }}
