name: release-twitter-server

# Publishes twitter/twitter-server.
#
# Expects a repository dispatch event: https://developer.github.com/v3/repos/#create-a-repository-dispatch-event
# in the form of JSON data POST to /repos/twitter/dodo/dispatches:
# {
#   "event_type": "release_twitter_server",
#   "client_payload": {
#     "phab_id": "D12345",
#     "version": "17.12.0",
#     "dry_run": true
#   }
# }
env:
  JAVA_OPTS: "-Dsbt.log.noformat=true"
  PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
  PGP_SECRET: ${{ secrets.PGP_SECRET }}
  SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
  SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
  BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
  BINTRAY_PASS: ${{ secrets.BINTRAY_PASS }}
  API_KEY: ${{ secrets.API_KEY }}
defaults:
  run:
    shell: bash
on:
  repository_dispatch:
    types: [release_twitter_server]

jobs:
  release_twitter_server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - uses: olafurpg/setup-scala@v7
        with:
          java-version: openjdk@1.8
      - uses: olafurpg/setup-gpg@v2
      - name: setup/gpg-secret
        run: ${{ github.workspace }}/bin/gpg-init
      - name: setup/sbt
        run: |
          cp -r ${{ github.workspace }}/bin/.sbt ~/.sbt
      # ensure upstreams have merged develop branch into master
      - name: checkout/util
        uses: actions/checkout@v2
        with:
          repository: twitter/util
          ref: master
          path: util
      - name: merge/util
        run: |
          ${{ github.workspace }}/bin/merge --phab-id ${{ github.event.client_payload.phab_id }}  --dry-run ${{ github.event.client_payload.dry_run }} --verbose util
        working-directory: ${{ github.workspace }}/util
      - name: checkout/scrooge
        uses: actions/checkout@v2
        with:
          repository: twitter/scrooge
          ref: master
          path: scrooge
      - name: merge/scrooge
        run: |
          ${{ github.workspace }}/bin/merge --phab-id ${{ github.event.client_payload.phab_id }}  --dry-run ${{ github.event.client_payload.dry_run }} --verbose scrooge
        working-directory: ${{ github.workspace }}/scrooge
      - name: checkout/finagle
        uses: actions/checkout@v2
        with:
          repository: twitter/finagle
          ref: master
          path: finagle
      - name: merge/finagle
        run: |
          ${{ github.workspace }}/bin/merge --phab-id ${{ github.event.client_payload.phab_id }}  --dry-run ${{ github.event.client_payload.dry_run }} --verbose finagle
        working-directory: ${{ github.workspace }}/finagle
      # run dodo to build twitter-server dependencies
      - name: dodo/build
        uses: cacoco/dodo-build@v2
        with:
          branch: master
          project: twitter-server
          no-test: true
          publish-m2: true
          verbose: true
          dry-run: ${{ github.event.client_payload.dry_run }}
      # checkout twitter-server and release
      - name: checkout/twitter-server
        uses: actions/checkout@v2
        with:
          repository: twitter/twitter-server
          ref: master
          path: twitter-server
      - name: release/twitter-server
        run: |
          ${{ github.workspace }}/bin/publish --phab-id ${{ github.event.client_payload.phab_id }} --version ${{ github.event.client_payload.version }}  --dry-run ${{ github.event.client_payload.dry_run }} --verbose twitter-server
        working-directory: ${{ github.workspace }}/twitter-server
